{% extends "base.html" %}


{% block content%}

<div class="hidden-sm" style="margin:16px;"></div>

<div class="page-header text-center hidden-xs">
   <h3>Thank you for your feedback!</h3>
</div>
<br>
<div class="text-center">
<div class="row" style="justify-content:center">
  <div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel-title">Your response has been recorded.</h5>
        </div>
        <div class="panel-body">
            <a id="home" class="btn btn-primary btn-block" href="/index">Return to homepage</a>
      </div>
    </div>
    </div>
  </div>
</div>

{% endblock %}
