{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Demo</title>
    </head>

    <body>
        <div class="navbar">
            <h1>Spambot Detector</h1>
        </div>

        <div class="input_form">
            <form action="/get_Input" name="Product" method="POST">
                <p>Product:</p>
                <p><input type="text" name="Product" /></p>
                <p><input type="submit" value="Submit" /></p>
            </form>
        </div>



        <h2>Product List</h2>
        <div>
            <p><a href="/get_Input?Product=A">product A</a></p>
            <p><a href="/get_Input?Product=B">product B</a></p>
            <p><a href="/get_Input?Product=C">product C</a></p>
            <p><a href="/get_Input?Product=D">product D</a></p>
            <p><a href="/get_Input?Product=E">product E</a></p>
            <p><a href="/get_Input?Product=F">product F</a></p>
            <p><a href="/get_Input?Product=G">product G</a></p>
        </div>



    </body>
</html>

{% endblock %}