{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Analysis</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    </head>

    <body>
        <div class="navbar">
            <h1>Spambot Detector</h1>
        </div>

        <div class="input_form">
            <form action="/get_Input" name="Product" method="POST">
                <p>Product:</p>
                <p><input type="text" name="Product" /></p>
                <p><input type="submit" value="Submit" /></p>
            </form>
        </div>

    </body>
</html>

{% endblock %}