.DS_Store
comparative/toImport.txt
comparative/Results.txt
comparative/__pycache__
venv/Lib/site-packages/
venv/Scripts/email_validator.exe
venv/Scripts/flask.exe
venv/Scripts/gunicorn.exe
venv/Scripts/pip3.10.exe
Main/venv/Lib/site-packages/
Main/venv/Scripts/email_validator.exe
Main/venv/Scripts/flask.exe
Main/venv/Scripts/gunicorn.exe
Main/venv/Scripts/pip3.10.exe
Main/webapp/__pycache__
Main/venv/bin
Main/venv/lib