{% from "macro.html" import render_field %}
<!--created forgot password page !-->
{% extends "base.html" %}

{% block content%}
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js'></script>
<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h2>Password Recovery</h2>
    </div>
    <div class="col-lg-10">
    <!--  <img src="{{ url_for('static', filename='img/Lehigh.jpg') }}" width="300" class="rounded float-left" alt="Lehigh"> -->
    </div>
    <div class="col-lg-10">
      <p>
        <pre>&#9;</pre>Please enter the email asssociated with your account to Spam Spotting, you will recieve an email containing your password shortly
      </p>
      <form method="POST" action=".">
        <fieldset>

        {{ form.csrf_token }}
        {{ render_field(form.email, class="form-control", placeholder="Your email address") }}
       
        <p style="padding-top: 20px" >
        <a class="btn btn-primary" id="forgotten_email" href="{{ url_for('forgotPasswordSend')}}" role="button">Send email</a></p> 
        </fieldset>
      </form>
    </div>
   <form method="POST" action="." class="form form-horizontal">
      {{ form.csrf_token }}
      <legend></legend>
      <ul>
        <!--{{ render_field(form.email) }} -->
      </ul>
      <div class="control-group">
        <label class="control-label"></label>
          <div class="controls">
          <!--  <button type="submit" id="submit" class="btn btn-primary">Submit</button> -->
          </div>
      </div>
    </form> 
  </div>
</div>

{% endblock %}