{% extends "base.html" %}


{% block content%}

<div class="hidden-sm" style="margin:16px;"></div>

<div class="page-header text-center hidden-xs">
  <h3>You predicted it was a genuine review...</h3>
  <br>
  <h4>It was actually spam!</h3>
    <br>
  <h5>Better luck next time...</h5>
  <br>
</div>
<br>
<div class="text-center">
<div class="row" Text-align: center style="justify-content:center">
  <div>
    <div class="panel panel-default">
        <div class="panel-heading">
        </div>
        <div class="panel-body" >
            <a id="home" class="btn btn-primary btn-block"  href="/index">Return to the Homepage</a>
       </div>
    </div>
  </div>
  </div>
</div>

{% endblock %}
